challonge\ test\ ideas/
sgg\ test\ ideas/
*.db
*.pyc
*.pyo
src/jerky.txt
src/idea\ 1.txt
credentials.json
*.sql
todo.txt
update_smashgg_elephant_db.py
update_challonge_elephant_db.py
src/test_database.py