body {
    background-color: #FFFBFB;
}

#hartprlogo {
    max-height: 95%;
    padding-top: 5px;
}
#logo {
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-style: none;
    color: forestgreen;
}
#logo:hover,
#logo:focus {

}

.header{
    text-align: center;
    width: 100%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 72px;
    letter-spacing: 5px;
    height: 140px;
    color: green;
    border-bottom: 1px solid #666;
}

#grad {
  background: #E8E8E8;
}

#title {
    color: snow;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 10px 10px 10px 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* This of course assumes you're using .navbar-inverse */



/* Navbar title */

.navbar.navbar-inverse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-static-top {
    border-bottom: 1px solid #666;
}
.navbar.navbar-inverse .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.right_most {
    padding-right: 5px;
}
.navbar-inverse .navbar-brand {
    color: snow;
}

/* Focus/hover state for navbar title */

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: white;
}

/* Navbar links default color */

.navbar-inverse .navbar-nav > li > a {
    color: snow;
}

/* Navbar links hover/focus states */

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    
}

/* Active link colors */

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    text-shadow:0px 0px 1px black;
}


/* Mobile toggle button */

.navbar-inverse .navbar-toggle {
    border-color: lightgreen;
}

/* Mobile toggle button hover/focus states */

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #DDD;
    font-weight: bold;
}

/* Mobile icon bar colors */

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}
/* Navbar main background */
.container-fluid {
    background-color: #228b22;
    border-bottom: 0px;
}
/* #9BCD9B #B4EEB4 90EE90 ccffcc best*/


#active {
    background-color: #175e17;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}


#last_update {
    position: relative;
    padding-left: 16px;
    padding-right: 15px;
}

.left_align {
    position: relative;
    padding-left: 16px;
    padding-right: 15px;
}

#up_align {
    padding-top: 20px;
}
.table-striped {
    border: 20px;
    border-color: white;
}



th {
    background-color: #228B22 !important;
    color: #FFFAFA;
}

.center_td {

  text-align: center;
  vertical-align: middle;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #E8f2eb; // background-color: green;
}

.table-striped > tbody > tr:nth-child(even) > td {
    background-color: white;
}

.table-bordered > tbody > tr:nth-child(n) > td,
.table-bordered > tbody > tr:nth-child(odd) > th {
    background-color: white; // background-color: green;
}

.progress {
    margin-top: 8px;
    margin-bottom: 8px;
}

#ranking_index_table {
    vertical-align: middle;
}
#progress_success {
    text-align: left;
    padding-left: 4px;
    background-color: #52a552;
}

#progress_failure {
    text-align: right;
    padding-right: 4px;
    padding-left: 1px;
    background-color: #A61919;
}

}
.h2h {
    list-style-type: none;
    float: left;

}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}


.player_history {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.player_history_object {
    float: left;
}

.within_h2h {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 33%;
    text-align: center;
}

.resizedTextbox {
    width:800px; 
    height: 100px;
}

#submit_button {
    display: block;

}

.form-group {
    background-color: snow;
}

#login_box {
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    color: black;
}
/*
th {
    text-align: center;
}
tr {
    text-align: center;
} */
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #175e17;

}

#btnLogin {
    margin-top: 10px;
    margin-left: 70%;
}

.navbar-form .input-group>.form-control {
    margin-left: 10px;
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
/*
List of shit to do: 
Get rid of admin link - nobody else will ever use it 
Include brief explanation of rankings on the main page 
Include twitters and twitter link formatting 
the 'rankings last updated' text is too big
and get rid of the gradient lol in the banner
get rid of the <3 pr thign on the side
about section too long:
cap it by setting width to the divs?
that might not be the best way
but you can figure it out lol

empty space to the right for now
player tag, player skill rating, set winrate, game winrate, total tournaments entered
that's all guaranteed information i have
optional: character, twitter, first/last
*/

