{% extends 'base.j2' %}

  {% block content %}
	<div class ="container">
	<div class="col-lg-11">
	<h1>About</h1>
	<p class="left_align">The HartPR is a competitive ranking system and tournament archive for the game Super Smash Bros. Melee, created by <a href="https://www.twitter.com/UW_Dempsey">Michael Hartley</a> and <a href="https://www.twitter.com/dz_ssbm">Mitch Dzugan</a>. The goal of our site is to provide an objective indicator of a player's current rank in the Washington Melee community as well as their comprehensive in-state history as a competitor.</p>
	<p class="left_align">

	<h2>Contact Us</h2>
	<ul class="left_align" style="list-style: none;">
		<li>Twitter: <a href="https://www.twitter.com/UW_Dempsey">twitter.com/UW_Dempsey</a></li>
		<li>Email: mtjhartley@gmail.com</li>
	</ul>
	</p>


	<h2>Ranking System</h2>
	<p class = "left_align"> We rank players using the <a href="http://trueskill.org/">Python implementation</a> of the <a href="https://www.microsoft.com/en-us/research/project/trueskill-ranking-system/">Microsoft Trueskill</a> ranking algorithm. Trueskill only takes set wins and losses into account; game counts are not used in the ranking formula but are archived on our site as interesting data. Our system currently supports processing finished brackets from <a href="https://help.smash.gg/hc/en-us/articles/217471947-API-Access">SmashGG</a> and <a href="https://api.challonge.com/v1">Challonge.</a></p>

	<p class = "left_align"> The numbers on your 
	<a href="{{url_for('player',player_id=200)}}">player page</a>
	indicate your skill relative to the rest of the community. Your unadjusted skill is comprised of two key indicators. Mu, the first number, increases and decreases as you win and lose sets.  Sigma, the second number, starts off large and decreases as you play more sets.</p>
	<p class = "left_align">
	The Trueskill number takes your Mu (average approximation of skill) and Sigma (how uncertain we are that your skill lies around that average approximation) and uses Microsoft's suggested ranking formula of  Trueskill = Trueskill Mu - (3 * Trueskill Sigma). You can read more about Trueskill <a href="http://www.moserware.com/2010/03/computing-your-skill.html">here.</a></p>

	<p class ="left_align">
	Our ranking system has several limitations. Skilled out of state players are ranked with less accuracy (due to a smaller tournament sample size) than they would be ranked if they lived in Washington. Thus, wins or losses against OOS players may not reflect upon your Trueskill change as drastically as you would expect. 
	</p>

	<p class ="left_align">
	The tournament archive only dates back to the beginning of 2016. We decided upon this date after somewhat futilely searching various challonge users for brackets before 2016. The addition of those brackets to our archive would skew the rankings in favor of the old; something we are not trying to represent. HartPR rankings aim to be a current snapshot of your rank in the community, bolstered by your attendance and performance at tournaemnts.

	</p>

	<p class ="left_align">Furthermore, Challonge brackets often have misspelled tags and joke names. Our program can catch misspelled tags to a certain degree of accuracy, but is not perfect. If we am unfamiliar with the joke tag you are entering as, the tag will be entered as a new player entity in our database and your Trueskill will not be accurately updated until I am informed of this error and the players are merged. 
	</p>

	<p class ="left_align">
	Lastly, unfinished challonge brackets are not currently supported by our system. If you are hosting or even entering results into the bracket while at a tournament, please ensure that the tournament is officialy completed on Challonge! 
	</p>

	<h2>Included Tournaments</h2>
	<p class="left_align">We aim to include all paid tournaments within the Western Washington region in our archive. Free tournaments such as UW Smash PR tournaments and smaller tournaments such as SU weeklies are not included. If you find tournaments that are not listed in our archive, please fill out our <a href="{{url_for('submit_form_unsubmitted')}}">form</a> and we will work on getting them added.</p>
	<div>
	<ul class="left_align" style="list-style: none;">
		<li>Weeklies:</li>
		<li class="left_align">Sunday: East Side Smash</li>
		<li class="left_align">Monday: Gameclucks</li>
		<li class="left_align">Wednesday: Brackets &amp; Brews</li>
		<li class="left_align">Thursday: ePG Smash at The Training House (bi-weekly)</li>
		<li class="left_align">Friday: Tuk House Tournament</li>
	</ul>
	</div>
	<div>
	<ul class="left_align" style="list-style: none;" style="float: left;">
		<li>Monthlies:</li>
		<li class="left_align"><a href="https://www.facebook.com/events/172980693208617/">Emerald City &amp; Reign</a></li>
		<li class="left_align"><a href="https://www.facebook.com/events/358632031204084/">ESS Monthly</a></li>
	</ul>
	</div>

	<h2>Managing Alternate Tags</h2>
	<p class="left_align">Players entering tournaments with different tags can be merged in our system. However, we will not actively hunt down players who choose to enter under fake tags. If you want your ranking to represented in an accurate and timely fashion, please enter as your normal tag. If you have any player merge requests, please fill out our <a href="{{url_for('submit_form_unsubmitted')}}">contact form.</a></p>

	<h2>Submitting Player Characters</h2>
	<p class="left_align">At this time, neither SmashGG or Challonge has the information within a tournament bracket to allow us to know which character you play. Adding the stock head icon next to a tag on either the index and player page requires manual input from us. If you would like your character to be represented next to your name, fill out our <a href="{{url_for('submit_form_unsubmitted')}}">form</a> and select "Add my character/color".</p>

	<!--
	<h2>Handling Inactive Players</h2>
	<p class="left_align">The Washington Power Ranking Panel has designated an activity requirement of 4 tournaments within the ranking period (3-4 months)to be eligible for PR. We will use the same requirement to display players on our rankings page. If you do not meet this requirement, you will be hidden from the global anking page but still searchable on our site.</p> 
	-->



	<h2>Github Link</h2>
	<p class ="left_align"><a href="https://github.com/mtjhartley/hartpr">https://github.com/mtjhartley/hartpr</a></p>

	</div>
	</div>

	{% endblock %}



