<!DOCTYPE html>
<html>

	<head>
		<title>Hart PR</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/headertable.css??id={{timestamp}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="header" id="grad"><span><a href="{{url_for('index')}}" id="logo">&#9825;PR</a></span></div>



			<nav class="navbar navbar-inverse navbar-static-top">
 				<div class="container-fluid" id="main">
			    	<div class="navbar-header">
			    		<a class="navbar-brand" href="{{url_for('index')}}">&#9825;PR</a>
			  		</div>
 		    			<ul class="nav navbar-nav">
							<li><a href="{{url_for('index')}}">Ranking</a></li>
							<li><a href="{{url_for('tournaments')}}">Tournaments</a></li>
							<li><a href="{{url_for('searchh2h')}}">Head2Head</a></li>
							<li><a href="{{url_for('submit_form_unsubmitted')}}">Request Changes</a></li>
							<li><a href="{{url_for('about')}}">About</a></li>
							<li id="active"><a href="{{url_for('login')}}">Admin</a></li>
    					</ul>
						<form class="navbar-form" role="search" action="{{ url_for('search') }}">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for player..." name="Player" id="srch-term" list="player_names">
									<datalist id="player_names">
										{% for player in players %}
											<option value="{{player[1]}}"></option>
										{% endfor %}
									</datalist>
						    	<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>



                </div>
             </div>
		</nav>
		{{message}}
		<form action="{{ url_for('admin_enter_tournament_submitted') }}" method = "POST" class="left_align">		
			<h2>Copy and paste the  bracket link into the box below</h2>
			<h4>SmashGG format example: smash.gg/tournament/tony-town-3rd-strike-knuckles</h4>
			<h4>Challonge format example: epeengaming.challonge.com/oop0hkl8</h4>

			URL<br>
			<input type = "text" name = "bracket_url"/></br>

			Website<br>
			<select class="selectpicker" name="bracket_website">
  				<option>SmashGG</option>
  				<option>Challonge</option>
			</select>
			</br>
			<input type = "submit" value = "Submit" id="submit_button"/><br>
		</form>
	</body>
</html>