{% extends 'base.j2' %}

  {% block content %}
	<div class="left_align">
	<ul><h1 >Admin Use Only</h1>
		<li><a href="{{url_for('admin_enter_tournament_unsubmitted')}}">Enter a tournament in our archive.</a></li>
		<li><a href="{{url_for('submit_form_view')}}">Database of submitted changes</a></li> 
		<li><a href="{{url_for('logout')}}">Logout</a></li>
	</ul>
	</div>
	{% endblock %}


	
