<!DOCTYPE html>
<html>

	<head>
		<title>Hart PR</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/headertable.css??id={{timestamp}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="header" id="grad"><span><a href="{{url_for('index')}}" id="logo">&#9825;PR</a></span></div>
			<nav class="navbar navbar-inverse navbar-static-top">
 			<div class="container-fluid" id="main">
    			<div class="navbar-header">
    				<a class="navbar-brand" href="{{url_for('index')}}">&#9825;PR</a>
  				</div>
 		    	<ul class="nav navbar-nav">
					<li><a href="{{url_for('index')}}">Ranking</a></li>
					<li><a href="{{url_for('tournaments')}}">Tournaments</a></li>
					<li id="active"><a href="{{url_for('searchh2h')}}">Head2Head</a></li>
					<li><a href="{{url_for('submit_form_unsubmitted')}}">Request Changes</a></li>
					<li><a class="right_most" href="{{url_for('about')}}">About</a></li>
					<li><a href="{{url_for('login')}}">Admin</a></li>
    			</ul>
				<form class="navbar-form" role="search" action="{{ url_for('search') }}">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for player..." name="Player" id="srch-term" list="player_names">
							<datalist id="player_names">
								{% for player in players %}
									<option value="{{player[1]}}">
								{% endfor %}
							</datalist>
						<div class="input-group-btn">
					<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>
 			 </div>	
		</nav>

	<div class="h2h" align="center">

		<ul class="player_history">
		<div class="within_h2h" id="player1" style="text-align: center;">
			<li><h1>{{player_1_tag}}</h1></li>
			<li><h2>Games Won: {{player_1_game_wins}}</h2></li>
		</div>

		<div class="within_h2h" id="score" style="text-align: center;">
			<li style=><h1>Lifetime Set Count</h1></li>
			<li><h1>{{player_1_set_wins}}-{{player_2_set_wins}}</h1></li>
		</div>

		<div class="within_h2h" id="player2" style="text-align: center;">
			<li><h1>{{player_2_tag}}</h1></li>
			<li><h2>Games Won: {{player_2_game_wins}}</h2></li>
		</div>
		</ul>
	</div>



			<table class="table table-striped" style="width: 95%" id="h2htable" align="center">
			<tr class="table_header">
				<th>Tournament</th>
				<th>Winner</th>
				<th>Score</th>
				<th>Loser</th>
				<th>Date</th>
			</tr>
			{% for set in sets %}
				<tr>
					<td><a href="{{url_for('tournamentPage', tournament_id=set[1])}}">{{set[0]}}</a></td>
					<td><a href="{{url_for('player', player_id=set[3])}}">{{set[5]}}</a></td>
					<td>{{set[7]}}</td>
					<td><a href="{{url_for('player', player_id=set[4])}}">{{set[6]}}</a></td>
					<td>{{set[2]}}</td>
				</tr>
			{% endfor %}
			</table>

	</body>
</html>