{% extends 'base.j2' %}

  {% block content %}

      <div class ="container">
      <div class="row-fluid">
         <div class="col-sm-4">
              {% if alternate_character %}
                {% if alternate_color %}
                  {% if main_color %}
                <h2> {{display_name}} <img src="/static/stock_icons/{{main_character}}/{{main_character}}-{{main_color}}.png" style="padding-left: 5px;"> <img src="/static/stock_icons/{{alternate_character}}/{{alternate_character}}-{{alternate_color}}.png" style="padding-left: 3px;"> 

            {% if twitter %}
              <a href="https://www.twitter.com/{{twitter}}"><img id ="twitter" src="/static/twitter_blue.png" height="32px" width="32px"></a>
            {% else %}
            {% endif %}

                </h2>
                  {% else %}
                <h2> {{display_name}} <img src="/static/stock_icons/{{main_character}}/{{main_character}}.png" style="padding-left: 5px;"> <img src="/static/stock_icons/{{alternate_character}}/{{alternate_character}}-{{alternate_color}}.png" style="padding-left: 5px;">

            {% if twitter %}
              <a href="https://www.twitter.com/{{twitter}}"><img id ="twitter" src="/static/twitter_blue.png" height="32px" width="32px"></a>
            {% else %}
            {% endif %} 
            </h2>
                  {% endif %}
                {% else %}
                  {% if main_color %}
                    <h2> {{display_name}} <img src="/static/stock_icons/{{main_character}}/{{main_character}}-{{main_color}}.png" style="padding-left: 3px;"> <img src="/static/stock_icons/{{alternate_character}}/{{alternate_character}}.png" style="padding-left: 3px;"> 
                    {% if twitter %}
                     <a href="https://www.twitter.com/{{twitter}}"><img id ="twitter" src="/static/twitter_blue.png" height="32px" width="32px"></a>
                    {% else %}
                  {% endif %}</h2>
                  {% else %}
                    <h2> {{display_name}} <img src="/static/stock_icons/{{main_character}}/{{main_character}}.png" style="padding-left: 5px;"> <img src="/static/stock_icons/{{alternate_character}}/{{alternate_character}}.png" style="padding-left: 3px;"> 
                    {% if twitter %}
                    <a href="https://www.twitter.com/{{twitter}}"><img id ="twitter" src="/static/twitter_blue.png" height="32px" width="32px"></a>
                    {% else %}
                    {% endif %}
                    </h2>
                {% endif %} 
              {% endif %}
              {% else %}
                {% if main_color %}
                  <h2> {{display_name}} <img src="/static/stock_icons/{{main_character}}/{{main_character}}-{{main_color}}.png" style="padding-left: 5px;"> 
                {% if twitter %}
                <a href="https://www.twitter.com/{{twitter}}"><img id ="twitter" src="/static/twitter_blue.png" height="32px" width="32px"></a>
                {% else %}
                {% endif %}
                  </h2>
                {% else %}
                <h2> {{display_name}} <img src="/static/stock_icons/{{main_character}}/{{main_character}}.png" style="padding-left: 5px">

              {% if twitter %}
              <a href="https://www.twitter.com/{{twitter}}"><img id ="twitter" src="/static/twitter_blue.png" height="32px" width="32px"></a>
            {% else %}
            {% endif %}
            </h2>
                {% endif %}
              {% endif %}
            <h3> Trueskill: {{trueskill_thousand_test}} </h3>
            <h4> Unadjusted: {{mu}} (+/- {{3 * sigma}}) </h4>



            
            <div class="table-responsive">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th colspan="2">Lifetime Stats</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>Sets Played</td>
                        <td>{{total_set_count}}</td>

                     </tr>
                     <tr>
                     	  <td>Sets Won</td>
                     	  <td>{{set_win_count}}</td>
                     </tr>

                     <tr>
                     	  <td>Set Win Percentage</td>
                     	  <td>{{set_win_percent}}</td>
                     </tr>

                     <tr>
                     	  <td>Games Played</td>
                     	  <td>{{total_game_count}}</td>
                     </tr>

                     <tr>
                     	  <td>Games Won</td>
                     	  <td>{{game_win_count}}</td>
                     </tr>

                     <tr>
                     	  <td>Game Win Percentage</td>
                     	  <td>{{game_win_percent}}</td>
                     </tr>

                     <tr>
                     	  <td>Tournaments Attended</td>
                     	  <td>{{tourney_attended_count}}</td>
                     </tr>


                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-sm-8">
            <canvas id="myChart" width="1110" height="200"></canvas>
            <div class="table-responsive">
               <table class="table table-striped" style="width: 90%; margin: 7px auto 0 auto">
                  <thead>
                     <tr>
      				
      				<th>Opponent</th>
      				<th>Result</th>
      				<th>Score</th>
      				<th>Tournament</th>
      				<th style="width: 100px">Date</th>
                     </tr>
                  </thead>
                  <tbody>
      			   {% for set in sets %}
      			  <tr>
      				<td><a href="{{url_for('player', player_id=set[6])}}">{{set[1]}}</a></td>
      				<td>{{set[2]}}</td>
      				<td>{{set[4]}}</td>
      				<td><a href="{{url_for('tournamentPage', tournament_id=set[5])}}">{{set[0]}}</a></td>
      				<td>{{set[3][5:]+set[3][4]+set[3][:4]}}</td>
      			  </tr>
      			{% endfor %}
      			</tbody>
               </table>
            </div>
         </div>
      </div>
      </div>


      <script>
         var ctx = document.getElementById("myChart");
         var myChart = new Chart(ctx, {
             type: 'bar',
             data: {
                 labels: [
                 {% for skillTier in skillDistribution %}
                  "",
                 {% endfor %}
                 ],
                 datasets: [{
                  range: [
                     {% for skillTier in skillDistribution %}
                        "{{ skillTier["range"] }}",
                     {% endfor %}
                  ],
                     data: [
                     {% for skillTier in skillDistribution %}
                        {{ skillTier["numPeople"] }},
                     {% endfor %}
                     ],
                     backgroundColor: [
                     {% for skillTier in skillDistribution %}
                        '{{ skillTier["backgroundColor"] }}',
                     {% endfor %}
                     ],
                     borderColor: [
                     {% for skillTier in skillDistribution %}
                        '{{ skillTier["borderColor"] }}',
                     {% endfor %}
                     ],
                     borderWidth: 1
                 }]
             },
             options: {
               legend: {
                  display: false
               },
               title: {
                  fullWidth: false
               },
                 scales: {
                     yAxes: [{
                         ticks: {
                             beginAtZero:true,
                             fixedStepSize: 5
                         }
                     }]
                 },
                 tooltips: {
                  callbacks: {
                     title: function(items, data) {
                        return `Skill Rating: ${data.datasets[0].range[items[0].index]}`.replace("$", "➟")
                     },
                     label: function (items, data) {
                        return `Count: ${data.datasets[0].data[items.index]}`
                     }
                  }
                 }
             }
         });
      </script>
  {% endblock %}

