{% extends 'base.j2' %}

  {% block content %}

 		<div class ="container">
		<div class="col-lg-12">
 		<h1>{{message}}</h1>
		<form action="{{ url_for('submit_form_submitted') }}" method = "POST">		
			<h3>Submit a change for our players, sets, or tournament archive!</h3>

			Name<br>
			<input type = "text" name = "Name"/></br>

			Tag<br>
			<input type = "text" name = "Tag"/></br>

			Preferred Contact Method (Twitter, Email)<br>
			<input type = "text" name = "Contact" placeholder="Username/Email"/></br>

			Issue<br>
			<select class="selectpicker" name="Issue">
				<option>Add Character/Color</option>
  				<option>Unlisted Tournament</option>
  				<option>Incorrect Set Outcome</option>
  				<option>Merge Players</option>
  				<option>Other</option>
			</select>
			</br>


			What information is incorrect? (Be specific! Include the tournament name, players involved, and all other relevant information.)<br>
			<textarea class="text" cols="70" rows ="15" name="Information"></textarea>


			<input type = "submit" value = "Submit" id="submit_button"/><br>
		</form>
		</div>
		</div>
		</div>
	{% endblock %}

