{% extends 'base.j2' %}

  {% block content %}

      <div class="left_align" id="up_align">
      <h2>Submitted Changes</h2>
      <table class="table table-striped" style="width: 90%">
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Tag</td>
            <td>Contact</td>
            <td>Issue Type</td>
            <td>Information</td>
            <td>Date/Time</td>
         </thead>
         
         {% for row in changes %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>	
               <td>{{row[4]}}</td> 
               <td>{{row[5]}}</td> 
               <td>{{row[6]}}</td> 
            </tr>
         {% endfor %}
      </table>  
      <a href = "/">Go back to home page</a>
      </div>
   {% endblock %}